/* ============ Reviews Form Section ============================ */
#revForm{
  /* background-color: khaki; */
  width: fit-content;
  margin-left: 15px;
  margin-bottom: 30px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  border-radius: 12px;
}
#revForm > *{
  margin: 0 18px;
  margin-bottom: 14px;
}

#revForm > h2 {
  margin-top: 14px;
  font-size: 14pt;
  /* color: var(--seabnb-blue2) */
  text-decoration: underline;
}


/* ============ Reviews section ============================ */
.reviews-section-container{
  /* background-color: indianred; */
  width: 100%;
  border-top: 1px solid lightgrey;
}
.reviews-title {
  margin: 20px 0;
  font-size: 18pt;
  font-weight: 600;
}
.star{
  font-size: 11pt;
  padding-bottom: 3px;
}

 /* ============ card section ============================ */
 .spot-reviews-container{
   /* background-color: hotpink; */
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
  }
  
  .review-card{
  /* background-color: rgb(160, 76, 118); */
  width: 48%;
  padding: 1%;
  margin-bottom: 14px;
}
.review-card-top{
  /* background-color: khaki; */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.review-card-top-right{
  /* background-color: rgb(106, 107, 199); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  /* align-items: center; */
}
.review-card-top-right{
  padding: 10px 10px;
}

.faux-prof-pic{
  height: 50px;
  width: 50px;
  background-color: grey;
  border-radius: 25px;
}
/* ============ EDIT / DELETE BUTTONS ============================ */
.rev-btn {
  outline: none;
  border: none;
  height: 28px;
  width: 60px;
  background-color: var(--seabnb-blue1);
  color:white;
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
  margin-right: 8px;
  margin-top: 5px;
}
.rev-edit-btn{

}
.rev-del-btn{
  width: 75px;
}

.sub-rev-btn{
  width: 140px;
}

