/* ==== Spot Browsing Styles ===================== */
/* +++++ Layout ++++++++++++++++++++++++++++++ */
.all-spots-container{
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgrey;
  width: 60%;
  margin: auto;
}
.single-spot-card{
  /* border: 2px solid orange; */
  width: 100%;
  display: flex;
  padding: 16px;
  flex-direction: row;
  /* align-items: center; */
  border-top: 1px solid rgba(134, 134, 134, 0.5)
}
/* ++++++ Image Section ++++++++++++++++++++++++++*/
.spot-img-section{
  /* background-color: rgb(109, 80, 26); */
  height: 300px;
  width: 39%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:12px;
}
.spot-img-section > img {
  object-fit: cover;
  height: 100%;
}

/* ++++++ Content Section ++++++++++++++++++++++++++*/
.spot-mid-section{
  /* background-color: rgb(121, 60, 190); */
  height: 300px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  margin-left: 12px;
}
.spot-mid-top{
  /* background-color: rgba(60, 190, 67, 0.527); */
  
}
.spot-mid-top > *{
  margin-bottom: 10px;
}
.spot-mid-bot{
  /* background-color: rgb(60, 190, 168); */
  display: flex;
  justify-self: flex-end;
}

.spot-right-section{
  /* background-color: rgb(126, 238, 116); */
  width: 14%;
  margin: 0 12px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}


.spot-section-title{
  margin-top: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18pt;
}

.tiny-line{
  color: lightgrey;
  margin-bottom: 8px;
}
.spot-section-flist{
  color: grey;
  font-size: 12pt;
}
.spot-section-rating{
  /* background-color: lightpink; */
  justify-self: end;
  bottom: auto;
}

.spot-hearts{
  /* background-color: purple; */
}

/* ========== Faux Content Section ================== */

.spots-faux-header{
  margin-top: 30px;
  width: 100%;
  margin-bottom: 18px;
}
.spots-faux-header > *{
  margin-top: 12px;
}
.spots-faux-header > h3 {
  font-size: 20pt;
  margin-bottom: 18px;
  
}
.spots-faux-header > ul{
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
}
.faux-filter{
  color: grey;
  border: 1px solid grey;
  height: 20px;
  padding: 8px 12px;
  margin-right: 5px;
  border-radius: 18px;
}
.bold-statement{
  font-weight: 600;
}
