.spot-container{
background-color: blue;
 width: 60%;
 margin: auto;
 display:flex;
 flex-direction: column;
}
.spot-top{
  /* background-color: lightblue; */
}
/* ====== IMAGES ================================ */
/* ========= LEFT-IMAGES ================================ */
.spot-images-container{
  /* background-color:lightslategray; */
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
}

.spot-image-l{
  width: 49%;
  border-radius:12px;
  height: 100%;
  overflow: hidden;
}
.spot-image-l > img{
  object-fit: cover;
  width: 100%;
  min-height: 100%;
}

/* ========= RIGHT-IMAGES ================================ */
.spot-images-right{
  /* background-color: orangered; */
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.spot-image-r{
  width: 50%;
  height: 50%;
  /* margin-left: 12px; */
  border-radius:12px;
  overflow: hidden;
}
.spot-image-r > img{
  /* margin: 10px; */
  height: 100%;
  object-fit: cover;
}
/* ===== BODY OF CARD ============================ */
.spot-main{
  /* background-color:rgb(9, 99, 189); */
  display: flex;
  flex-direction: rows;
}
.spot-details{
  background-color: plum;
  width: 65%;
}
.spot-reviews{
  background-color: orange;
  width: 100%;

}
/* 
name: DataTypes.STRING,
    location: DataTypes.STRING,
    price: DataTypes.INTEGER,
    host: DataTypes.INTEGER,
    description: DataTypes.STRING,
    reviews:  DataTypes.INTEGER,
    rules: DataTypes.INTEGER,
    amenities:  DataTypes.INTEGER,
    photo1:DataTypes.STRING,
    photo2:DataTypes.STRING,
    photo3:DataTypes.STRING,
    photo4:DataTypes.STRING,
    photo5:DataTypes.STRING */