/*================= Universals =================*/
.light-grey{
  color: grey;
}
/* ========================================== */
/* ========= SPOT PAGE STYLES ===============*/
/* ========================================== */
.spot-container{
/* background-color: blue; */
 width: 60%;
 margin: auto;
 display:flex;
 flex-direction: column;
}
.spot-top{
  /* background-color: lightblue; */
  margin: 18px 0px;
}
.spot-top > * {
  margin: 8px 0px;
}
.spot-top > div>p > a {
  color: rgb(22, 22, 22);
}
.spot-top-links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* =========== IMAGES ================================ */
/* +++++++++ LEFT-IMAGES +++++++++++++++++++++++++++++ */
.spot-images-container{
  /* background-color:lightslategray; */
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
}
.spot-image-l{
  width: 49%;
  height: 100%;
  overflow: hidden;
}
.spot-image-l > img{
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  padding: 5px;
}
/* +++++++++++ RIGHT-IMAGES +++++++++++++++++++++++++++++ */
.spot-images-right{
  /* background-color: orangered; */
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.spot-image-r{
  width: 50%;
  height: 50%;
  overflow: hidden;
}
.spot-image-r > img{
  /* margin: 10px; */
  height: 100%;
  object-fit: cover;
  padding: 5px;
}
/* ===== BODY OF CARD ============================ */
.spot-main{
  /* background-color:rgb(9, 99, 189); */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.spot-main-left{
  /* background-color:rgb(180, 42, 42); */
  width: 65%;
  display: flex;
  flex-direction: column;
}
.spot-main-right{
  /* background-color:rgb(156, 189, 9); */
  width: 32%;
  display: flex;
  flex-direction: column;
}
.spot-details{
  /* background-color: plum; */
  width: 94%;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 10px 0;
  border-bottom: 1px solid lightgrey;
}
.spot-desc{
  margin-bottom: 8px;
  font-size: 16pt;
  font-weight: 600;
}

.spot-reviews{
  /* background-color: orange; */
  width: 100%;
}


/* =========== PHONY ICON SECTION =========== */
.fake-section-container{
  /* background-color: hotpink; */
  width: 94%;
  /* border-bottom: 1px solid lightgrey; */
  margin-bottom: 20px;
}
.fake-section{
  /* background-color:rgb(156, 189, 9); */
  display: flex;
  flex-direction: row;
  margin: 12px 0;
}
.fake-icon > p { 
  padding: 0;
  margin-bottom: 8px;
  font-size: 50px; 
  font-weight: bold
}
.fake-icon {
  /* background-color:rgb(70, 78, 33); */
  padding-right: 10px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fake-sub-section {
  /* background-color:rgb(189, 9, 180); */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fss-top{
  font-size: 12pt;
  font-weight: 600;
  margin-bottom: 3px;
}
.fss-bottom{
  font-weight: 500;
  font-size: 10pt;
  color: grey;
  margin-top: 3px;
}