/* TODO Add site wide styles */
html, body, div, p, h1, h2, h3, h4, h5, h6, span, a,
input, link, form, ul, ol, li, tb, td, table, th, tr,
button, textarea, select, option {
  padding: 0;
  margin: 0;
}
html{
  font-family:Arial, Helvetica, sans-serif;
}

.hover-hand:hover{
  cursor: pointer;
}

:root {
  --seabnb-blue1: rgb(104, 131, 141);
  --seabnb-blue2: rgb(1, 63, 121);
  --seabnb-blue3: #668dcc;

  --seabnb-red: rgb(218, 101, 101);
}


.flex-col-cont{
    display: flex;
    flex-direction: column;
}
.flex-row-cont{
    display: flex;
    flex-direction: row;
}
.small-grey-label{font-size: 10pt; color: grey}
.error-text{ color: red; font-size: 10pt}

/* ======================FOR TESTING=========================== */
/* ============================================================= */
            /* div{border: 1px solid red;} */
/* ============================================================= */
/* ============================================================= */