.loginForm{
  /* background-color:aquamarine; */
  height: 275px;
  width: 275px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 24px;
}

 /* ====== Topper ===================== */
.form-topper{
  color:rgb(26, 26, 26);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.form-topper > button{
  justify-self: flex-start;
  border: none;
  outline: none;
  background-color: transparent;
  color:rgb(26, 26, 26);
  font-weight: 600;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  transition: 0.1s;
}
.form-topper > button:hover{
  background-color: rgba(26, 26, 26, .2);
}
.form-topper > p{
  width: 100%;
  justify-self: center;
  margin:auto;
  text-align: center
}

/* ======== Errors ============================= */
.fErrorMsgs{
  background-color: transparent;
}
.fErrorMsg{
  background-color: transparent;
  color: red;
}

/* ======= Sign Up Section ==================== */
.login-form-all{

  display: flex;
  flex-direction: column;
  margin: 18px 0;
}

.login-input-row{
 display: flex;
 flex-direction: row;
 width: 100%;
 justify-content: center;
}
.login-email{

}
.login-password{

}

.login-input-row > input { width: 65%; height: 26px; }
.login-input-row > label { 
  width: 33%; 
  height: 26px; 
  margin-top: 8px; 
  justify-self:flex-end; 
}

.login-btn{
  border: none;
  outline: none;
  align-self: center;
  justify-self: center;
  color: white;
  width: 85%;
  height: 26px;
  border-radius: 6px;
  background-color: var(--seabnb-blue3);
  margin-bottom: 20px;
}
/* ======= Sign Up Section ==================== */
.sign-up-section{
  /* background-color: var(--seabnb-blue2); */
  /* height: 70%; */
  /* margin-top: 20px; */
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 6px;
  border-top: 1px solid lightgray;
  padding-top: 20px;
}
.sign-up-section-link{
  border: 2px solid var(--seabnb-blue3);
  height: 26px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: var(--seabnb-blue3);
  text-decoration: none;
  font-weight: bold;
}